{% extends 'base.html' %}
{% block content %}
  <h3>Image View Section</h3>
  <br>
  <hr>

  {% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.topic }}</a>
        <small class="text-muted">{{ post.description }}</small>
      </div>
      <a href="{{ MIDEA_URL }}{{ post.images.url }}">
        <img src="{{ MIDEA_URL }}{{ post.images.url }}" alt="{{ post.img_alt }}"
        width=30%
        height=30%>
      </a>

    </div>
  </article>
  {% endfor %}


{% endblock content %}
